{% extends "base_generic.html" %}

{% block content %}

<div class='container-fluid'>
{% block list_info %}
    <div class="row ">
        <div class="col-12">
            <h2>UNSC Sanctions Checker</h2>
            <p>The loaded Sanctions List has the following records:</p>
            <ul>
                <li><strong>List date:</strong> {{ list_date }} (YYYY-MM-DD
                    format)
                </li>
                <li><strong>Individuals listed:</strong> {{ num_individuals }}
                </li>
                <li><strong>Entities listed:</strong> {{ num_entities }}</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-11">
            <hr>
            </div>
        </div>

    {% endblock %}

    {% block search %}
    {% block search_url %}
    <form class="form-group" action="./search/" method="GET">
    {% endblock %}

        <div class="form-row input-group align-items-center">
            <div class="col-3">
            <div class="btn-group btn-group-toggle" data-toggle="buttons"
                     id="list_to_search">
                    <label class="col-form-label" for="list_to_search">List to search:
                    </label>
                </div>
            </div>
                <div class="col-4">
                    <label class="btn btn-secondary btn-block col-form-label">
                    <input class="form-control" type="radio" name="list_to_search" id="individuals"
                           autocomplete="off" value="individuals" checked> Individuals
                </label>
                </div>
                    <div class="col-4">
                <label class="btn btn-secondary btn-block col-form-label">
                    <input class="form-control" type="radio" name="list_to_search" id="entities" value="entities"
                           autocomplete="off"> Entities
                </label>
                    </div>
              </div>

        <div class="form-row input-group align-items-center">
            <div class="col-3">
            <label class="text-left col-form-label" for="search_name">Name to search: </label>
            </div>
            <div class="col-8">
            <input class="form-control" type="text" id="search_name"
                   name="search_name"></div>
        </div>

        <div class="form-row input-group align-items-center">
          <div class="col-3 text-nowrap">
            <label class="col-for-label" for="score">Matching score: </label>
              <span class="valueSpan font-weight-bold"></span>
          </div>
                <div class="col text-right">0</div>
                <div class="col-6">
            <input type="range" min="0" max="100" value="90" step="1"
                   class="form-control-range" id="matching_score" name="matching_score">
                </div>
                <div class="col text-left">100</div>
        </div>

        <div class="form-row align-items-center">
            <input type="submit" value="Search" class="btn btn-dark btn-block col-11">
        </div>

    </form>
</div>
<script>$(document).ready(function() {

  const $valueSpan = $('.valueSpan');
  const $value = $('#matching_score');
  $valueSpan.html($value.val());
  $value.on('input change', () => {

    $valueSpan.html($value.val());
  });
});</script>
{% endblock %}

{% block search_results %}
{% endblock %}
{% endblock %}